<!DOCTYPE html>
<html>
    <body>
        <% today = Time.now %>
        <%= "The date is #{Date::DAYNAMES[today.wday]}, #{Date::MONTHNAMES[today.month]} #{today.day}, #{today.year}" %>
    </body>
</html>